@if (post$ | async; as post) {
	<div class="max-w-2xl mx-auto bg-white rounded-xl shadow-md mt-4 p-6">
		<h1 class="text-3xl font-bold mb-4">{{ post.title }}</h1>
		<p class=" mb-2"><strong>Category:</strong> {{ post.category }}</p>
		<p class="mb-2"><strong>Author:</strong> {{ post.author }}</p>
		<p class="mb-2"><strong>Created:</strong> {{ post.creationDate }}</p>
		<div>
			<strong>Content:</strong>
			<p>{{ post.content }}</p>
		</div>
		@if (post.author == authServ.getUsername() && post.state == 'REJECTED') {
			<p class="mb-2 text-error"><strong>Reason for rejection: {{post.rejectedMessage}}</strong></p>
		}
		@if (post.author == authServ.getUsername() && post.state == 'PENDING_APPROVAL') {
			<p class="mb-2 text-warning"><strong>Post is pending approval</strong></p>
		}
		@if (post.author == authServ.getUsername() && post.state == 'DRAFT' || post.state == 'REJECTED') {
			<button [routerLink]="['/edit', post.id]" routerLinkActive="router-link-active"
					class="w-full md:w-32 bg-button-primary hover:bg-primary font-bold py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary-light transition duration-200">Edit
			</button>
		}
		@if (post.author != authServ.getUsername() && post.state == 'PENDING_APPROVAL') {
			<button (click)="approvePost(post.id!)"
					class="w-full md:w-32 bg-button-primary hover:bg-primary font-bold py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary-light transition duration-200">APPROVE
			</button>
			<button (click)="toggleRejectInput()"
					class="w-full md:w-32 bg-button-primary hover:bg-primary font-bold py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary-light transition duration-200">REJECT
			</button>
			@if (showRejectInput) {
				<textarea [(ngModel)]="rejectMessage" class="w-full mt-2 p-2 border border-gray-300 rounded" placeholder="Provide a reason for rejection"></textarea>
				<button (click)="rejectPost(post.id!)"
						class="mt-2 w-full md:w-32 bg-button-primary hover:bg-primary font-bold py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary-light transition duration-200">Send
				</button>
			}
		}
		@if (post.author == authServ.getUsername() && post.state == 'APPROVED') {
			<button (click)="publishPost(post.id!)"
					class="w-full md:w-32 bg-button-primary hover:bg-primary font-bold py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary-light transition duration-200">Publish
			</button>
		}
	</div>
}
