<div class="max-w-2xl mx-auto bg-white rounded-xl shadow-md mt-4 p-6">
	<app-detail [post]="post"></app-detail>
	@if (comments.length > 0) {
		<div class="mt-4">
			<h2 class="text-xl font-bold">Comments</h2>
			@for (item of comments; track item.id) {
				<app-comment [comment]="item" [postId]="post.id!"></app-comment>
			}
		</div>
	}

	<button (click)="toggleAddComment()"
			class="w-full md:w-32 bg-button-primary hover:bg-primary font-bold py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary-light transition duration-200">Add Comment
	</button>
	@if (showCommentInput) {
		<h3 class="text-xl font-bold">Add Comment</h3>
		<textarea [(ngModel)]="commentMessage" class="w-full mt-2 p-2 border border-gray-300 rounded" placeholder="Provide a reason for rejection"></textarea>
		<button (click)="commentOnPost(post.id!)"
				class="mt-2 w-full md:w-32 bg-button-primary hover:bg-primary font-bold py-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary-light transition duration-200">Send
		</button>	}
</div>

